
<form method="POST" action="/products/update/{{product._id}}?_method=PUT">
<h1>Chỉnh sửa sản phẩm</h1>
    <div class="form-group">
        <label for="name">Name:</label>
        <input value="{{product.name}}" id="name" name="name" type="text">
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input value="{{product.image}}" id="image" name="image" type="text">
    </div>
    <div class="form-group">
        <label for="old_price">oldPrice:</label>
        <input value="{{product.old_price}}" id="old_price" name="old_price" type="text">
    </div>
    <div class="form-group">
        <label for="cur_price">curPrice:</label>
        <input value="{{product.cur_price}}" id="cur_price" name="cur_price" type="text">
    </div>
    <button type="submit">Sửa</button>
</form>
