
<div class="product-header">
  <h1>Tất cả sản phẩm</h1>
  <a href="/products/trash">Thùng rác ({{countDeleted}})</a>
</div>
<div class="row">
{{#each products}}
<div class="col col-2-4">
  <div  class="product-item">
        <a href="/products/{{this._id}}" class="product-item_img" style="
            background-image: url({{this.image}});
          "></a>

        <div class="product-item-body">
          <h4 class="product-item_name">
            {{this.name}}
          </h4>
          <div class="product-item_tag">
            <span class="product-item_tag-special"
              >#ShopDacBiet</span
            >
          </div>
          <span class="product-item_price">
            <span class="product-item_price--old">{{moneyFormat this.old_price}}</span>
            <span class="product-item_price--current">{{moneyFormat this.cur_price}}</span>

        </div>
        
        <a href="/products/{{this._id}}/edit" class="edit-btn">sua</a>
        <a href="/products/delete/{{this._id}}" class="delete-btn">xoa</a>
  </div>
</div>

{{else}}
<div class="col col-full mt-15" style="text-align: center; height:100% ">
  <h2> Không có sản phẩm nào, <a href="/products/create">Thêm sản phẩm</a>
  </h2> 
    <img style=" width: 40%;" src="/images/not_found.png" alt="">
</div>
{{/each}}
</div>
